@import "tailwindcss";

:root {
 
}

@theme inline {

}

@media (prefers-color-scheme: dark) {
  :root {
  
  }
}

body {
 font-family: var(--font-inter)
}



.sidebar-active {
  border: 1px solid transparent;
  border-radius: 20px;


  border-image-slice: 1;
  border-image-source:
    linear-gradient(
      180deg,
      rgba(0, 136, 255, 0.3) 0%,
      rgba(119, 192, 255, 0.3) 100%
    ),
    radial-gradient(
      63.87% 50% at 52.08% 100%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );

  
  box-shadow:
    0px 0px 0px 4px #e0e9f2,
    0px 3.71px 4.85px rgba(87, 177, 255, 0.15),
    0px 10.27px 13.4px rgba(87, 177, 255, 0.22),
    0px 24.72px 32.26px rgba(87, 177, 255, 0.19),
    0px 42px 107px rgba(87, 177, 255, 0.34),
    inset 0px 1px 18px 2px #d2eaff;
}